{% extends 'blog/base.html' %}

{% block content %}
    <p>블로그 글 수정 화면</p>
    <form method="post">
        {% csrf_token %}
        {{ form.title.label_tag }}
        <input type="text" name="{{ form.title.name }}" value="{{ form.initial.title }}">
        <br>
        {{ form.content.label_tag }}
        <textarea type="text" name="{{ form.content.name }}">{{ form.initial.content }}</textarea>
        <br>
        {{ form.writer.label_tag }}
        <input type="text" name="{{ form.writer.name }}" value="{{ form.initial.writer }}">
        <br>
        <input type="submit" class="btn btn-outline-success">
    </form>
{% endblock %}